<%- include('partials/head', {title:'Chat - Social Network'}) %>
<%- include('partials/header', {h1_title: 'Chat'}) %>



  <p id="connected">Connected as: </p>

  <div id="server-status"></div>

  <div class="message-list-container">
    <ul id="message-list">
      <% messages.forEach(function(message) { %>
        <li class="single-message <% if (message.isMe) { %>
          message-sent
        <% } else { %>
          message-received
        <% } %> ">
        <% if (!message.isMe) { %>
          <b style="display: block;"><%= message.author %></b>
        <% } %> 
          <%- message.content.replace('\n', '<br>') %>
        </li>
      <% }); %>
    </ul>
    <form id="message-form">
      <input type="text" name="msg" id="msg">
      <button type="submit">Submit</button>
    </form>
  </div>



<%- include('partials/footer') %>

<script src="/chat.js"></script>

<%- include('partials/foot') %>