<%- include('partials/head', {title:"Social Network - Node.js"}) %>
<%- include('partials/header') %>

<main>
  
  <h1>Social Network</h1>
  
  <p id="connected">Connected as: </p>
  
  <div id="server-status"></div>
  
  <div class="post-list-container">
    <h2>Posts</h2>
    <ul id="post-list">
      <% posts.forEach(function(post) { %>
        <li class="single-post">
          <b style="display: block;"><%= post.author %></b>
          <%- post.content.replace('\n', '<br>') %>
        </li>
      <% }); %>
    </ul>
    <form id="post-form" method="POST">
      <textarea name="content" id="content" cols="30" rows="10" placeholder="Your publication"></textarea>
      <button type="submit">Post</button>
    </form>
  </div>
  
</main>

<%- include('partials/footer') %>

<script src="/posts.js"></script>

<%- include('partials/foot') %>