<%- include('partials/head', {title:'My Account - Social Network'}) %>
<%- include('partials/header', {h1_title: 'My Account'}) %>
  

  <ul class="profile_data_list">
    <li class="profile_data_item">
      <span class="label">Name</span>
      <span class="data"><%= user.name %></span>
    </li>
    <li class="profile_data_item">
      <span class="label">Username</span>
      <span class="data"><%= user.username %></span>
    </li>
    <li class="profile_data_item">
      <span class="label">Avatar</span>
      <span class="data"><img src="/img/avatar/<%= user.avatar %>" alt="<%= user.username %>-avatar" class="user-avatar"></span>
    </li>
  </ul>

  <h2>Edit your profile data</h2>

  <form method="post" class="profile_form" enctype="multipart/form-data">
    <div class="row">
      <label for="name">Name: </label>
      <input type="text" name="name" id="name" placeholder="Name" value="<%= user.name %>">
    </div>
    <div class="row">
      <label for="username">Username: </label>
      <input type="text" name="username" id="username" placeholder="Username" value="<%= user.username %>">
    </div>
    <div class="row">
      <label for="avatar">New Avatar (void for no update) (max 8 MB): </label>
      <input type="file" name="avatar" id="avatar" accept="image/png, image/jpeg, image/jpg">
    </div>
    <input type="submit" value="Submit" class="btn">
  </form>

  <form action="/delete-account" method="post" class="delete-account-form">
    <input type="submit" value="Delete Account" class="btn btn-danger">
  </form>


<%- include('partials/footer') %>
<%- include('partials/foot') %>